{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Map with SQLite</title>

    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
	<link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" />
    <style>
        #map{
            width: 100%;
            height: 100vh;
        }
    </style>

    
</head>





<body>
    <div id="container" style="width:1900px">
 
    <div id="header" style="background-color:#FFA500;">
        <h1 style="margin-bottom:0;">Travel under Covid-19</h1></div>
    <div id="menu" style="background-color:#FFD700;height:80px;width:1890px;float:left;">
        <b><a href="http://127.0.0.1:8000/">Homepage</a></b>
        <b><a href="http://127.0.0.1:8000/map">Quicktest</a></b>
        <b><a href="http://127.0.0.1:8000/db_show">Covidinfor</a><b>
        <b><a href="http://127.0.0.1:8000/Airline">Airline</a><b/>
        <b><a href="https://www.auswaertiges-amt.de/en/coronavirus/2317268">Qurantine</a></b>
        <b><a href="https://www.booking.com/">Hotel</a></b>
    <div id ="map" style="background-color:#EEEEEE;height:900px;width:1900px;float:left;"></div>
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
        Bo Wang, Maike Zoller ©  </div>
</body>
</html>






<!--leaflet js -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<!-- <script src="./countries.js"></script> -->
<!-- <script src=".test//combineData.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/sql/sql.min.js"></script>
<script src="{% static 'combineData.js' %}"></script>
<script src="{% static 'covid.js' %}"></script>
<!--<script src="./usstates.js"></script> -->
<script>

/*===================================================
                      OSM  LAYER              
===================================================*/

    var mapboxAccessToken = 'pk.eyJ1IjoiYm93YW5nOTciLCJhIjoiY2t5NGh4MDh3MGE4aDMxb3kxcTZhN2xxeiJ9.ole64owRxFRvVbpbnvf4qw';
    var map = L.map('map').setView([45, 55], 4);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
        id: 'mapbox/light-v9',
        // attribution: ...,
        tileSize: 512,
        zoomOffset: -1
    }).addTo(map);

   // L.geoJson(covid).addTo(map);
    L.geoJson(countriesData).addTo(map);


 /*===================================================
                      Choropleth Map               
=================================================== */ 
    function getColor(d) {
        return d > 10000000 ? '#800026' :
            d > 5000000  ? '#BD0026' :
            d > 200000  ? '#E31A1C' :
            d > 100000  ? '#FC4E2A' :
            d > 30000   ? '#FD8D3C' :
            d > 200   ? '#FEB24C' :
            d > 10   ? '#FED976' :
                        '#FFEDA0';
    }

    function style(feature) {
    return {
		fillColor: getColor(feature.properties.TotalCases),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
        };
    }

    //L.geoJson(countriesData, {style: style}).addTo(map);
    // L.geoJson(statesData, {style: style}).addTo(map);
	
    var layerGroup = L.geoJSON(countriesData, {
        style: style,
        onEachFeature: function (feature, layer) {
          layer.bindPopup('<h1>'+feature.properties.name+'</h1><p>Total Cases: '+feature.properties.TotalCases+'</p>');
        }
      }).addTo(map);
	
/*===================================================
                      Import DB??              
===================================================*/
	// Countries with Covid Cases
	


/*===================================================
                      Legend               
===================================================*/ 
	var legend = L.control({ position: "bottomleft" });

	legend.onAdd = function(map) {
		var div = L.DomUtil.create("div", "legend");
		div.innerHTML += "<h4>Legend</h4>";
		div.innerHTML += "<h5>Covid Cases</h5>";
		div.innerHTML += '<i style="background: #FFEDA0"></i><span>0-10</span><br>';
		div.innerHTML += '<i style="background: #FED976"></i><span>over 10</span><br>';
		div.innerHTML += '<i style="background: #FEB24C"></i><span>over 200</span><br>';
		div.innerHTML += '<i style="background: #FD8D3C"></i><span>over 30000</span><br>';
		div.innerHTML += '<i style="background: #FC4E2A"></i><span>over 100000</span><br>';
		div.innerHTML += '<i style="background: #E31A1C"></i><span>over 200000</span><br>';
		div.innerHTML += '<i style="background: #BD0026"></i><span>over 5000000</span><br>';
		div.innerHTML += '<i style="background: #800026"></i><span>over 10000000</span><br>';
		return div;
	};

	legend.addTo(map);

</script>